@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	font-family: $Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	margin: 0;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0px 20px;
}

// Header
.header {
	position: relative;
	background-image: url("../img/header/header.png");
	width: 100%;
	height: 252px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(31, 32, 33, 0.79);
		top: 0;
	}

	&__content {
		position: relative;
		z-index: 10;
		padding: 40px 0px 40px 0px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}

	&__feedback {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-grow: 0.4;
	}

	&__number {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&__call {
		font-family: $Montserrat;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: $white;
		text-align: right;
	}

	&__search {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 38px;
		line-height: 46px;
		color: $white;
	}
}

// Navigation
.nav {
	flex-grow: 0.3;

	&__block {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		font-family: $Montserrat;
		font-size: 18px;
		line-height: 22px;
		color: $white;
		transition: all 0.5s ease-out;

		&:hover {
			color: #E5E5E5;
			transition: all 0.5s ease-out;
		}
	}
}

// Sort
.sort {
	background: $white;

	&__content {
		padding: 40px 0px;
	}

	&__text {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;		
	}

	&__category {
		display: flex;
		align-items: center;
		margin-bottom: 38px;
	}

	&__select {
		border: none;
		outline: none;
		margin: 0px 20px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__block {
		margin-bottom: 30px;
	}

	&__description {
		background: #F3F3F3;
		padding: 30px;
	}

	&__name {
		font-family: $Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $black;
		margin-bottom: 22px;
	}

	&__params {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin:0px 0px 20px 20px;
		
		&:after {
			position: absolute;
			content: "";
			left: -20px;
			top: 4;
			width: 4px;
			height: 26px;
			background: #6EBBD3;
		}
	}

	&__el {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		color: $black;
	}

	&__subtitle {
		font-family: $Montserrat;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		color: $black;
	}

	&__price {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $black;
	}

	&__button {
		width: 100%;
		border: none;
		border-radius:0px 0px 10px 10px ;
		background: #6EBBD3;
		padding: 22px 0px;
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: $white;
	}

	&__show {
		display: block;
		background: $white;
		border: 1px solid #cacaca;
		border-radius: 10px;
		width: 380px;
		text-align: center;
		margin: 0px auto;
		padding: 17px 0px;
		font-family: $Montserrat;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: $black;
		cursor: pointer;
	}
}

// Footer
.footer {
	background: $white;

	&__content {
		background: #1F2021;
		display: flex;
		justify-content: space-between;
		padding: 50px 80px;
	}

	&__block {
		width: 37%;
	}

	&__title {
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 48px;
		line-height: 59px;
		color: $white;
		margin-bottom: 26px;
	}

	&__text {
		font-family: $Montserrat;
		font-weight: normal;
		font-size: 28px;
		line-height: 91%;
		color: $white;
	}
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 67%;

	&__wrap {
		margin-bottom: 24px;
	}

	&__input {
		width: 43%;
		background: #fff;
		border-radius: 10px;
		margin-right: 20px;
		padding: 18px 0px 19px 20px;
	}

	&__button {
		width: 37%;
		background: #6EBBD3;
		border-radius: 10px;
		border: none;
		font-family: $Montserrat;
		font-weight: bold;
		font-size: 14px;
		color: $white;
		padding: 20px 0px;
		transition: all 0.5s ease-out;
		cursor: pointer;

		&:hover {
			transform: scale(1.02);
			transition: all 0.5s ease-out;
		}
	}

	&__subscribe {
		display: flex;
	}

	&__radio {
		width: 0;
		height: 0;
		left: 99999px;
		visibility: hidden;
	}

	&__checkbox {
		display: block;
		width: 18px;
		height: 18px;
		border: 1.02899px solid #85898f;
		border-radius: 3px;
		box-sizing: border-box;
		margin-right: 10px;
	}

	&__text {
		font-family: $Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: $white;
	}
}

.form__radio:checked~.form__checkbox {
	background-image: url("../img/icon/agree.svg");
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-size: contain;
}

@import "reboot";
@import "media"; // Always at the end